{{#properties}}
  "page_title": "All Users"
{{/properties}}
<h1>{{total}} users.</h1>
<ul>
  {{#results}}
    <li><a class="delete" href="/users/show/{{id}}">{{name}}</a> - <a class="delete" href="/users/destroy/{{id}}">destroy</a></li>
  {{/results}}
</ul>
