<!DOCTYPE html>
<html>
  <head>
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>RoshamBo!</h1>
      <menu>
        <li><a href="/users/new">signup</a></li>
        <li><a href="/sessions/new">login</a></li>
      </menu>
    </header>
    <div id="container">
      <div id="main">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
