<!DOCTYPE html>
<html>
  <head>
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>report</h1>
      <menu>
        <li><a href="/users/new">signup</a></li>
        <li><a href="/sessions/new">login</a></li>
      </menu>
    </header>
    <div id="container">
      <div id="main">
        {{{body}}}
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      socket.on('user', function (data) {
        console.log(data);
      });
      console.log(socket);
    </script>
  </body>
</html>
